<div class="card">
    <div class="card-header" id="headingColorEditor1">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapseColorEditor1" aria-expanded="false" aria-controls="collapseColorEditor1">
                Colors
            </button>
        </h2>
    </div>
    <div id="collapseColorEditor1" class="collapse" aria-labelledby="headingColorEditor1" data-parent="#accordion">
        <div class="card-body">
            <div class="form-group">
                <label>Font</label>
                <input type="text" id="quotefontcolor" name="color" class="form-control" />
                <div id="quotefontcolorpicker"></div>
            </div>
            <div class="form-group">
                <label>Shadow</label>
                <input type="text" id="quoteshadowcolor" name="color" class="form-control" />
                <div id="quoteshadowcolorpicker"></div>
            </div>
        </div>
    </div>
</div>