<div class="card">
    <div class="card-header" id="headingPublicationsEditor">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapsePublicationsEditor" aria-expanded="false"
                aria-controls="collapsePublicationsEditor">
                Publications
            </button>
        </h2>
    </div>
    <div id="collapsePublicationsEditor" class="collapse show" aria-labelledby="headingPublicationsEditor"
        data-parent="#accordion">
        <div class="card-body">
            <div id="publications"></div>
            <button id="publications-addnew" class="btn btn-primary">Add</button>
        </div>
    </div>
</div>