<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8" />
    <title>Social media post builder</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/farbtastic.css" />
</head>
</head>

<body>
    {{{ body }}}
</body>

</html>